// out: false

@font-face{
    font-family: "Yellowtail";
    src: url('../fonts/Yellowtail-Regular.ttf') format('truetype'),
        url('../fonts/Yellowtail-Regular.woff') format('woff'),
        url('../fonts/Yellowtail-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}