//out: false

.footer{
    background-color: #282a2c;;
    font-family: 'Lato', sans-serif;
    padding: 20px 0px;
}

.footer__wrapper{
    max-width: @mobile-wrapper;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__logo img{
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

.footer__description{
    font-size: 16px;
    color: grey;
    margin-bottom: 20px;
    text-align: center;
}

.footer__social{
    display: flex;
    justify-content: space-around;
    width: 85%;
    margin-bottom: 30px;
}

.footer__social__item svg{
    width: 25px;
    height: 25px;
}

