//out: false

.intro{
    // background-image: url("../img/intro-bg.jpg");
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 174, 0, 0.105) 100%),
                url("../img/intro-bg.jpg");
    background-size: cover;
    background-position: bottom bottom;
    background-repeat: no-repeat;
    padding-top: 32vh;
    // padding-bottom: 60px;
    height: 100vh;
}

.intro__wrapper{
    max-width: @mobile-wrapper;
    margin: 0 auto;
    width: 100%;
    color: white;
    font-family: 'Lato', sans-serif;
}

.intro__txt{
    text-align: center;
}

.intro__txt__title{
    font-size: 24px;
    margin-bottom: 24px;
}

.intro__txt__location{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.intro__txt__location h5{
    font-weight: 300;
    color: rgb(230, 230, 230);
}

.intro__txt__description{
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 80px;
}