//out: false

.music{
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 136, 0, 0.10) 100%);
    background-color: #111414;
    font-family: 'Lato', sans-serif;
    color: #fff;
    padding: 70px 0px;
}

.music__wrapper{
    max-width: @mobile-wrapper;
    width: 100%;
    margin: 0 auto;
}

.music__title{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.music__description{
    text-align: center;
    font-weight: 300;
    margin-bottom: 20px;
}

.music__block{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.music__block__title{
    margin-bottom: 5px;
}

.music__block__title h3{
    font-weight: 300;
}

.music__block__img {
    max-width: @mobile-wrapper;
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    &--newashot{
        background: linear-gradient(135deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 0, 0, 0.13) 100%),
                url('../img/prodack.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }

    &--newafree{
        background: linear-gradient(135deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 0, 179, 0.13) 100%),
        url('../img/PinkFlow.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.music__block__right p{
    font-size: 14px;
    color: #bebebe;
    margin-bottom: 12px;
}

.dark_text{
    color: #9e9e9e;
}
